AUTH48 [RV]: RFC 8142

The RFC Editor seeks resolution on a few points. The referenced XML file is at https://www.rfc-editor.org/authors/rfc8142.xml.

> Sean,
> 
> While reviewing this document during AUTH48, please resolve (as necessary) the following questions, which are also in the XML file.
> 
> 1) <<!-- [rfced]  How can we clarify this sentence?
> 
> Original
>    A GeoJSON Text Sequence is a document of arbitrarily large size
>    containing one or more GeoJSON objects, e.g., multiple GeoJSON texts
>    that can be produced and parsed incrementally, and not only a single
>    GeoJSON FeatureCollection, Feature, or Geometry.
> 
> Perhaps
>    A GeoJSON text sequence is a document of arbitrarily large size
>    containing one or more GeoJSON objects (e.g., multiple GeoJSON texts
>    that can be produced and parsed incrementally) and not just a single
>    GeoJSON FeatureCollection, Feature, or Geometry.
> 
> Or
>    A GeoJSON text sequence is a document of arbitrarily large size
>    containing one or more GeoJSON objects (e.g., multiple GeoJSON texts
>    that can be produced and parsed incrementally, not a single
>    GeoJSON FeatureCollection, Feature, or Geometry).
> -->
> 
> 
> 2) <<!-- [rfced]  We are unsure what "following [RFC7464]" means here. Can it be
> removed, or should it be updated to "similar to the description of the JSON
> text sequence in [RFC7464]" or something else?
> 
> Original
>    Defined in prose, following [RFC7464]: a GeoJSON text sequence is any
>    number of GeoJSON [RFC7946] texts, each encoded in UTF-8 [RFC3629],
>    each preceded by one ASCII [RFC20] RS character, and each followed by
>    a line feed (LF).
> 
> Perhaps
>    Defined in prose, a GeoJSON text sequence is any
>    number of GeoJSON [RFC7946] texts, each encoded in UTF-8 [RFC3629],
>    preceded by one ASCII [RFC20] record separator (RS) character,
>    and followed by a line feed (LF).
> 
> Or
>    Defined in prose similar to the description of the JSON text sequence in
>    [RFC7464], a GeoJSON text sequence is any
>    number of GeoJSON [RFC7946] texts, each encoded in UTF-8 [RFC3629],
>    preceded by one ASCII [RFC20] record separator (RS) character,
>    and followed by a line feed (LF).
> -->
> 
> 
> 3) <!-- [rfced]  Would it be helpful to add citations in this sentence?
> 
> Original
>    GeoJSON text sequences have no security considerations beyond those
>    of JSON text sequences and the GeoJSON format.
> 
> Perhaps
>    GeoJSON text sequences have no security considerations beyond those
>    of JSON text sequences [RFC7464] and the GeoJSON format [RFC7946].
> -->
> 
> 
> 4) <<!-- [rfced]  The following sentence uses "feature sequences", but the rest of
> the document uses "text sequences". Please review and let us know if any
> updates are needed.
> 
> Original
>    The MIME media type for GeoJSON feature sequences is "application/
>    geo+json-seq".
> -->
> 
> 
> 5) <!-- [rfced]  We see a few differences between the template in Section 5.6 of
> RFC 6838 and the one in the IANA section of this document. For example, RFC
> 6838 includes "Author:" and "Change controller:", but this document does
> not. Also, this document includes "Object Identifiers:" under "Additional
> Information:" while RFC 6838 includes "Deprecated alias names for this
> type:". Please review and let us know if any updates are needed.
> -->
> 
> 
> 6) <<!-- [rfced]  FYI: Please note that we will ask IANA to update the template for
> "geo+json-seq" at https://www.iana.org/assignments/media-types after the
> document is approved (before publication).
> -->
> 
> 
> 7) <<!-- [rfced]  Terminology
> 
> a) We see both "Text Sequence" (uppercase) and "text sequence" (lowercase) in
> this document. We have updated to use the lowercase form per the usage in RFCs
> 7464 and 8091. Please let us know any objections.
> 
> b) We have expanded RS as "record separator (RS)" per RFC 7464. Please let us
> know any objections.
> -->
> 
> 
> Thank you.
> 
> RFC Editor/rv

Hi Sean,

It looks like most of these changes are reasonable, small, and
editorial-only.  I suggest that you simply pick the alternative that you
prefer for each of 1 and 2 and accept 4.  You could say that you prefer the
original text in both cases.

3 appears to be empty, I don't know if that is you or the RFC editor, if it
is the latter I would confirm that there wasn't something missing.

On 31 March 2017 at 06:59, Sean Gillies <notifications@github.com> wrote:

> The RFC Editor seeks resolution on a few points. The referenced XML file
> is at https://www.rfc-editor.org/authors/rfc8142.xml.
>
> Sean,
>
> While reviewing this document during AUTH48, please resolve (as necessary)
> the following questions, which are also in the XML file.
>
>    1. <<!-- [rfced] How can we clarify this sentence?
>
> Original
> A GeoJSON Text Sequence is a document of arbitrarily large size
> containing one or more GeoJSON objects, e.g., multiple GeoJSON texts
> that can be produced and parsed incrementally, and not only a single
> GeoJSON FeatureCollection, Feature, or Geometry.
>
> Perhaps
> A GeoJSON text sequence is a document of arbitrarily large size
> containing one or more GeoJSON objects (e.g., multiple GeoJSON texts
> that can be produced and parsed incrementally) and not just a single
> GeoJSON FeatureCollection, Feature, or Geometry.
>
> Or
> A GeoJSON text sequence is a document of arbitrarily large size
> containing one or more GeoJSON objects (e.g., multiple GeoJSON texts
> that can be produced and parsed incrementally, not a single
> GeoJSON FeatureCollection, Feature, or Geometry).
> -->
>
>    1. <<!-- [rfced] We are unsure what "following [RFC7464]" means here.
>    Can it be
>    removed, or should it be updated to "similar to the description of the
>    JSON
>    text sequence in [RFC7464]" or something else?
>
> Original
> Defined in prose, following [RFC7464]: a GeoJSON text sequence is any
> number of GeoJSON [RFC7946] texts, each encoded in UTF-8 [RFC3629],
> each preceded by one ASCII [RFC20] RS character, and each followed by
> a line feed (LF).
>
> Perhaps
> Defined in prose, a GeoJSON text sequence is any
> number of GeoJSON [RFC7946] texts, each encoded in UTF-8 [RFC3629],
> preceded by one ASCII [RFC20] record separator (RS) character,
> and followed by a line feed (LF).
>
> Or
> Defined in prose similar to the description of the JSON text sequence in
> [RFC7464], a GeoJSON text sequence is any
> number of GeoJSON [RFC7946] texts, each encoded in UTF-8 [RFC3629],
> preceded by one ASCII [RFC20] record separator (RS) character,
> and followed by a line feed (LF).
> -->
>
>    1.
>
>    2.
>
>    <<!-- [rfced] Terminology
>
> a) We see both "Text Sequence" (uppercase) and "text sequence" (lowercase)
> in
> this document. We have updated to use the lowercase form per the usage in
> RFCs
> 7464 and 8091. Please let us know any objections.
>
> b) We have expanded RS as "record separator (RS)" per RFC 7464. Please let
> us
> know any objections.
> -->
>
> Thank you.
>
> RFC Editor/rv
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/geojson/geojson-text-sequences/issues/22>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AAEIOTsg7Zh2s3eN3xbJqenudRES1EU3ks5rrOq_gaJpZM4MvlBx>
> .
>


I made an error when pasting into markdown with a blockquote. Points 1-7 are all there now. I'll take a closer look at 5 and will accept and act on 1-4 and 7.

Updated XML sent to the RFC Editor.